.vfrc-launcher {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url('https://raw.githubusercontent.com/Bandhon11/voiceflow-widget/main/fluentAiLogo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  z-index: 9999;
}
